<div class="page-header">
  <h1>Editing ingredient</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @ingredient], class: 'btn btn-default' %>
<%= link_to 'Back', admin_ingredients_path, class: 'btn btn-default' %>
