<div class="page-header">
  <h1>Editing coupon</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @coupon], class: 'btn btn-default' %>
<%= link_to 'Back', admin_coupons_path, class: 'btn btn-default' %>
